@import '../../_variables.scss';

@mixin before() {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $blue;
  mix-blend-mode: multiply;
  z-index: 0;
}

@mixin after() {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $pink;
  mix-blend-mode: multiply;
  z-index: 1;
}

@mixin cubeArrows ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
  }

  &::after {
    @include after();
    clip-path: polygon(50% 0%, 100% 50%, 50% 50%, 100% 100%, 0 100%, 50% 50%, 0 50%);
  }
}

@mixin halfBlueCircle ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }

  &::after {
    @include after();
    clip-path: circle(50% at 50% 50%);
  }
}

@mixin blueHalfCircle ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
  }

  &::after {
    @include after();
    clip-path: circle(50% at 0 50%) ;
  }
}

@mixin halfCircleHalfBlue ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }

  &::after {
    @include after();
    clip-path: circle(50% at 0 50%) ;
  }
}

@mixin halfRectangle ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
  }

  &::after {
    @include after();
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

@mixin quarterCircle ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
    background-color: transparent;
  }

  &::after {
    @include after();
    clip-path: circle(100.0% at 0 100%);
  }
}

@mixin halfCircleHalfBlueReverse ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
    background-color: $pink;
    clip-path: circle(50% at 50% 50%);
  }

  &::after {
    @include after();
    background-color: $blue;
    mix-blend-mode: normal;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

@mixin quarterCircleBlue ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
  }

  &::after {
    @include after();
    clip-path: circle(100.0% at 0 100%);
  }
}

@mixin whiteHalfCircle ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
    background-color: transparent;
  }

  &::after {
    @include after();
    clip-path: circle(50% at 0 50%) ;
  }
}

@mixin halfWhiteHalfCircle ($rotation) {
  position: relative;
  transform: rotate($rotation);

  &::before {
    @include before();
    background-color: $pink;
    clip-path: circle(50% at 50% 50%);
  }

  &::after {
    @include after();
    background-color: $bg;
    mix-blend-mode: normal;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

