@import '../../_variables.scss';

.techContainer {
  max-width: 64rem;
  padding: 0 3vmin;
}

.headerContainer {
  display: flex;
  align-items: center;
  margin-top: calc(3rem + 5vmin);
  margin-bottom: calc(1.5rem + 3vmin);

  h2 {
    font-size: calc(1.8rem + 0.7vmin);
    font-weight: 700;
  }

  .forwardIcon {
    color: $pink;
    width: calc(2rem + 1vmin);
    height: calc(2rem + 1vmin);
  }
}

.iconsContainer {
  display: flex;
  justify-content: space-between;

  .column {
    display: flex;
    flex-direction: column;
    gap: 5vmin;

    .item {
      display: flex;
      align-items: center;

      .icon {
        width: calc(1rem + 3vmin);
        height: calc(1rem + 3vmin);
        margin-right: 1.5vmin;
      }

      p {
        font-size: calc(0.7rem + 1vmin);
      };
    }
  }
}