@import '../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE

.contactsContainer {
  padding: 0 3vmin;
}

.headerContainer {
  display: flex;
  align-items: center;
  margin-top: calc(3rem + 5vmin);
  margin-bottom: calc(1.5rem + 3vmin);

  h2 {
    font-size: calc(1.8rem + 0.7vmin);
    font-weight: 700;
  }

  .forwardIcon {
    color: $pink;
    width: calc(2rem + 1vmin);
    height: calc(2rem + 1vmin);
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(2rem + 1.5vmin);

    .networkIcon {
      width: calc(1.6rem + 2.5vmin);
      height: calc(1.6rem + 2.5vmin);
      margin-bottom: calc(0.2rem + 0.4vmin);
      color: $gray;
    }

    a {
      cursor: pointer;
      display: flex;
      align-items: center;
      //font-size: calc(0.9rem + 0.5vmin);
      font-size: calc(0.9rem + 1vmin);
      color: $link;

      .linkIcon {
        margin-left: 0.3rem;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .linksContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}