@import '../../_variables.scss';

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE

.contactsContainer {
  padding: 0 3vmin;
}

.headerContainer {
  display: flex;
  align-items: center;
  margin-top: calc(3rem + 5vmin);
  margin-bottom: calc(1.5rem + 3vmin);

  h2 {
    font-size: calc(1.8rem + 0.7vmin);
    font-weight: 700;
  }

  .forwardIcon {
    color: $pink;
    width: calc(2rem + 1vmin);
    height: calc(2rem + 1vmin);
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(2rem + 1.5vmin);

    .networkIcon {
      width: calc(1.6rem + 2.5vmin);
      height: calc(1.6rem + 2.5vmin);
      margin-bottom: calc(0.2rem + 0.4vmin);
      color: $gray;
    }

    a {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: calc(0.9rem + 1vmin);
      color: $link;

      .linkIcon {
        margin-left: 0.3rem;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE - HORIZONTAL
@media screen and (max-height: 567px) {
  .contactsContainer {
    padding: 0;
    width: 140vmin;
    margin: auto;
  }

  .linksContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// TABLET
@media screen and (min-height: 568px) and (min-width: 613px) {
  .contactsContainer {
    padding: 0 3vw;
    width: 100%;
    margin: 0;
  }

  .linksContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
// DESKTOP + IPAD PRO HORIZONTAL
@media screen and (min-height: 568px) and (min-width: 1366px) {
  .contactsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 98.4vmin;
    margin: calc(1.5rem + 10vmin) auto auto auto;
  }

  .headerContainer {
    margin: 0;

    h2 {
      font-size: calc(0.7rem + 2vmin);
    }

    .forwardIcon {
      width: calc(1rem + 2.5vmin);
      height: calc(1rem + 2.5vmin);
    }
  }

  .linksContainer {
    align-items: flex-start;
    width: 61.5vmin;

    .element {
      margin-top: calc(2.5rem + 3vmin);
      margin-bottom: calc(2.5rem + 3vmin);

      .networkIcon {
        width: calc(0.6rem + 3vmin);
        height: calc(0.6rem + 3vmin);
        margin-bottom: calc(0.2rem + 0.4vmin);
      }

      a {
        font-size: calc(0.7rem + 0.8vmin);

        .linkIcon {
          margin-left: 0.5vmin;
        }
      }
    }
  }
}